<!DOCTYPE html>
{% load static %} 
<html lang="en">

    <head>
        <title>Story 9</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="{% static 'js/jquery-3.5.0.min.js' %}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
        <style>
            body {
                background-color: azure;
                margin: 6vh auto;
                text-align: center;
            }
            table, th, td {
                margin: 20px auto;
            }
            th, td {
                padding: 5px 10px;
            }
            .mediumSeaGreen {
                background-color: mediumseagreen;
            }
            .mediumTurquoise {
                background-color: mediumturquoise;
            }
            .mediumAquamarine {
                background-color: mediumaquamarine;
            }
            .paleTurquoise {
                background-color: paleturquoise;
            }
            p {
                display: inline-block;
                margin: auto auto;
            }
            .block {
                display: block;
            }
            #modalData {
                position: absolute;
                visibility: hidden;
            }
            .rectangle {
                background-color:springgreen;
                margin: 5px auto;
                width: 450px;
                height: 10px;
                border-radius: 50px;
            }

            .smallRectangle {
                background-color:springgreen;
                margin: auto 20px;
                width: 450px;
                height: 10px;
                border-radius: 50px;
            }

            .sectionClass {
                background-color: mediumspringgreen;
                width: 100%;
                height: 50px;
                margin: 6vh auto;
            }
            #search, #searchButton {
                margin: 10px auto;
            }
            #search {
                padding: 0 10px;
                border-radius: 25px;
            }
            .buttonClass {
                width: 100px;
                border-radius: 25px;
            }
            .buttonClassLike {
                width: 50px;
                border-radius: 25px;
            }
            .buttonClassModal {
                margin: 10px auto;
                width: 200px;
                border-radius: 25px;
            }
            .likeColumn {
                width: 200px;
            }
            h4.modal-title {
                text-align: left;
                margin: 10px 20px;
            }
            .center {
                padding-top: 0;
                margin: auto 20px;
                text-align: left;
            }
            .modal-content .buttonClass {
                margin: 20px 30px;
            }
            .right {
                text-align: right;
            }
            .azure {
                background-color: azure;
            }
        </style>
    </head>
    <body>
        <div class=rectangle></div>
        <h1>Story 9 : Book Search</h1>
        <div class=rectangle></div>
        <section class="sectionClass">
            <input type="search" name="search" id="search" >
            <button class="buttonClass" id="searchButton" onclick="searchBook()">Search</button>
        </section>
        <table>
            <thead>
                <tr>
                    <th class="mediumSeaGreen">Book Name</th>
                    <th class="mediumTurquoise">Author</th>
                    <th class='likeColumn mediumSeaGreen'>Likes</th>
                </tr>
            </thead>
            <tbody id="result">
            </tbody>
        </table>

        <div id="modalData">
            <p>1234321empty1234321</p>
        </div>
        
        <div class="sectionClass">
            <button class="buttonClassModal" id="modalButton" type="button" onclick="updateModal()" data-toggle="modal" data-target="#myModal">Top 5 Books</button>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
          <div class="modal-dialog">
          
            <!-- Modal content-->
            <div class="modal-content azure">
                <h4 class="modal-title">Top 5 Books</h4>
                <div class="smallRectangle"></div>
                <div class="modal-body center" id="modal-body">
                    <p>you haven't search for a book yet :(</p>
                </div>
                <div class="smallRectangle"></div>
                <div class="right">
                    <button type="button" class="buttonClass" data-dismiss="modal">Close</button>
                </div>
            </div>
          </div>
        </div>

    </body>
    <script>
        function incrementLike(e) {
            var currentLike = parseInt(document.getElementById(e).textContent)
            document.getElementById(e).innerHTML = currentLike + 1
        }

        function sortModal(a,e) {
            var xLike, yLike, tempTitle
            var newLike = parseInt(document.getElementById(e).textContent)
            var newTitle = document.getElementById(a).textContent
            var leastLikeInModal = parseInt(document.getElementById('modalLike4').textContent)
            
            //check if title already exist in modal
            if (document.getElementById('modalData').innerHTML.indexOf(newTitle) !== -1) {
                console.log("title exist")
                for (i = 4; i >= 0; i--) {
                        if (document.getElementById('modalTitle'+i).textContent == newTitle) {
                            document.getElementById('modalLike'+i).textContent++
                        }
                    }
            } else {
                if (newLike > leastLikeInModal) {
                    document.getElementById('modalTitle4').textContent = newTitle
                    document.getElementById('modalLike4').textContent = newLike
                }
            }
            
            //sort modal
            for (i = 4; i > 0; i--) {
                xLike = parseInt(document.getElementById('modalLike'+i).textContent)
                yLike = parseInt(document.getElementById('modalLike'+(i-1)).textContent)
                if (xLike > yLike) {
                    tempTitle = document.getElementById('modalTitle'+i).textContent
                    document.getElementById('modalTitle'+i).textContent = document.getElementById('modalTitle'+(i-1)).textContent
                    document.getElementById('modalTitle'+(i-1)).textContent = tempTitle
                    document.getElementById('modalLike'+(i-1)).textContent = xLike
                    document.getElementById('modalLike'+i).textContent = yLike
                }
            }
        }

        function searchBook() {
            var search = document.getElementById('search').value
            document.getElementById('result').innerHTML = ""
            document.getElementById('modalData').innerHTML = ""
            console.log(search)
            
            $.ajax({
                url: "https://www.googleapis.com/books/v1/volumes?q=" + search,
                dataType: "json",

                success: function(data) {
                    var count = 0
                    for (i = 0; i < data.items.length; i++){
                        //check if author is present
                        if (typeof data.items[i].volumeInfo.authors !== 'undefined') {
                            result.innerHTML += "<tr>" + "<td class='mediumAquamarine'><p id='title" + i + "'>" + data.items[i].volumeInfo.title + "</p></td>" + "<td class='paleTurquoise'>" + data.items[i].volumeInfo.authors[0] + "</td>" + "<td class='likeColumn mediumAquamarine'><p id='likes" + i + "'>0</p><button class='buttonClassLike' id='button" + i + "' onclick=incrementLike('likes" + i + "');sortModal('title" + i + "','likes" + i + "')>Like</button></td>" + "</tr>"
                        } else {
                            result.innerHTML += "<tr>" + "<td class='mediumAquamarine'><p id='title" + i + "'>" + data.items[i].volumeInfo.title + "</p></td>" + "<td class='paleTurquoise'>Author not found</td>" + "<td class='likeColumn mediumAquamarine'><p id='likes" + i + "'>0</p><button class='buttonClassLike' id='button" + i + "' onclick=incrementLike('likes" + i + "');sortModal('title" + i + "','likes" + i + "')>Like</button></td>" + "</tr>"
                        }

                        if (count<5) {
                            modalData.innerHTML += "<p id='modalTitle"+ i +"'>" + data.items[i].volumeInfo.title + "</p>" + "<p class='block' id='modalLike" + i + "'>0</p>"
                        }
                        count++
                    } 
                },

                type: 'GET'
            });
        }

        document.getElementById('search').addEventListener('keypress', function(e){
            if (e.keyCode == 13) {
                searchBook();
            }
        }, false)

        function updateModal() {
            var modal = document.getElementById('modal-body')
            if (document.getElementById('modalData').innerHTML.indexOf("1234321empty1234321") == -1) {
                modal.innerHTML = ""
                modal.innerHTML += "<ol>" 
                for (i=0; i<5; i++) {
                    modal.innerHTML += "<li id='topBook"+ i +"'>" + document.getElementById('modalTitle'+i).textContent + "</li>"
                }   
                modal.innerHTML += "</ol>"
            }
        }

    </script>
</html>
